kestra-fixed new/claimguardian-ai-agent-complete.yaml
id: claimguardian-ai-agent-complete
namespace: hackathon
description: |
  ClaimGuardian AI - COMPLETE AI Agent + Human-in-the-Loop Workflow
  
  PRIZE REQUIREMENTS MET:
  - Uses Kestra's built-in AI Agent (io.kestra.plugin.ai.agent.AIAgent)
  - Summarizes data from multiple systems (CPT codes, Medicare rates, insurance)
  - Makes decisions based on summarized data (APPEAL/NEGOTIATE/ACCEPT)
  - Human-in-the-loop approval workflow
  
  Built for AssembleHack25 - Wakanda Data Award ($4,000)

inputs:
  - id: patient_name
    type: STRING
    defaults: "John Smith"
    description: Patient name
    
  - id: procedure
    type: STRING
    defaults: "MRI brain"
    description: Medical procedure performed
    
  - id: billed_amount
    type: INT
    defaults: 5000
    description: Amount billed in dollars
    
  - id: insurance_company
    type: STRING
    defaults: "BlueCross"
    description: Insurance company name

tasks:
  - id: ai_summarize_data
    type: io.kestra.plugin.ai.agent.AIAgent
    description: AI Agent summarizes medical billing data from multiple sources
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
      modelName: gpt-4o-mini
    systemMessage: |
      You are a medical billing expert AI agent with deep knowledge of:
      - CPT codes and medical procedure pricing
      - Medicare reimbursement rates
      - Insurance claim processing
      - Billing error detection
    prompt: |
      Analyze and summarize this medical bill from multiple data sources:
      
      === PATIENT DATA ===
      Patient: {{ inputs.patient_name }}
      Insurance: {{ inputs.insurance_company }}
      
      === PROCEDURE DATA ===
      Procedure: {{ inputs.procedure }}
      Billed Amount: ${{ inputs.billed_amount }}
      
      === CPT CODE DATABASE ===
      - MRI brain (70553): Avg $3,500, Medicare $400
      - Colonoscopy (45378): Avg $3,000, Medicare $500
      - CT scan (71250): Avg $1,500, Medicare $200
      - Knee replacement (27447): Avg $50,000, Medicare $15,000
      - Chest X-ray (71046): Avg $300, Medicare $50
      - Echocardiogram (93306): Avg $2,000, Medicare $150
      
      === MEDICARE RATES DATABASE ===
      Medicare typically reimburses 10-15% of billed amounts.
      Anything over 3x Medicare rate is considered overpriced.
      Anything over 10x Medicare rate is excessive.
      
      Provide a comprehensive summary including:
      1. Detected CPT code for the procedure
      2. Expected cost vs billed amount
      3. Medicare rate comparison
      4. Variance percentage
      5. Key observations (overcharge detected? unusual patterns?)

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    description: Display AI-generated summary
    message: |
      ========================================
      AI AGENT DATA SUMMARY
      ========================================
      {{ outputs.ai_summarize_data.textOutput }}
      ========================================

  - id: ai_make_decision
    type: io.kestra.plugin.ai.agent.AIAgent
    description: AI Agent makes decisions based on summarized data
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
      modelName: gpt-4o-mini
    systemMessage: |
      You are a medical billing decision-making AI agent.
      
      Decision Framework:
      - RISK_LEVEL: HIGH (>50% overcharge), MEDIUM (20-50%), LOW (<20%)
      - ACTION: APPEAL (>50% over), NEGOTIATE (20-50% over), ACCEPT (<20% over)
      - PRIORITY: URGENT (>$1000 overcharge), HIGH (>$500), MEDIUM (>$100), LOW (<$100)
    prompt: |
      Based on this bill analysis, make a decision:
      
      {{ outputs.ai_summarize_data.textOutput }}
      
      Patient: {{ inputs.patient_name }}
      Procedure: {{ inputs.procedure }}
      Billed: ${{ inputs.billed_amount }}
      Insurance: {{ inputs.insurance_company }}
      
      Return your decision as:
      RISK_LEVEL: [HIGH/MEDIUM/LOW]
      RECOMMENDED_ACTION: [APPEAL/NEGOTIATE/ACCEPT]
      PRIORITY: [URGENT/HIGH/MEDIUM/LOW]
      ESTIMATED_OVERCHARGE: $[amount]
      REASONING: [your explanation]

  - id: log_decision
    type: io.kestra.plugin.core.log.Log
    description: Display AI decision before human review
    message: |
      ========================================
      AI AGENT DECISION
      ========================================
      {{ outputs.ai_make_decision.textOutput }}
      ========================================
      
      AWAITING HUMAN REVIEW - Click RESUME to continue...

  - id: human_review
    type: io.kestra.plugin.core.flow.Pause
    description: |
      HUMAN REVIEW REQUIRED - Review the AI analysis above.
      Click RESUME to generate appeal letter.
    onResume:
      - id: approval_decision
        type: STRING
        defaults: "approved"
        description: "Enter approved to generate appeal"

  - id: ai_generate_appeal
    type: io.kestra.plugin.ai.agent.AIAgent
    description: AI Agent generates formal appeal letter
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
      modelName: gpt-4o-mini
    systemMessage: |
      You are a medical billing advocate AI agent.
      Write professional, legally-compliant appeal letters.
      Include ERISA 30-day response requirement.
    prompt: |
      Generate a formal appeal letter for this billing dispute:
      
      Patient: {{ inputs.patient_name }}
      Procedure: {{ inputs.procedure }}
      Billed Amount: ${{ inputs.billed_amount }}
      Insurance: {{ inputs.insurance_company }}
      
      CPT Code Database:
      - MRI brain (70553): Avg $3,500, Medicare $400
      - Colonoscopy (45378): Avg $3,000, Medicare $500
      - CT scan (71250): Avg $1,500, Medicare $200
      - Knee replacement (27447): Avg $50,000, Medicare $15,000
      
      First analyze the bill, then write a professional appeal letter that:
      1. Has formal header with today's date
      2. Addresses the insurance company Appeals Department
      3. Identifies the disputed charges clearly
      4. Provides evidence of overcharge with Medicare rate comparison
      5. Requests specific dollar adjustment
      6. References ERISA 30-day response requirement
      7. Has professional closing with patient signature line

  - id: final_report
    type: io.kestra.plugin.core.log.Log
    description: Generate final workflow report
    message: |
      ========================================
      CLAIMGUARDIAN AI AGENT - FINAL REPORT
      ========================================
      
      Execution ID: {{ execution.id }}
      
      === PATIENT INFO ===
      Patient: {{ inputs.patient_name }}
      Procedure: {{ inputs.procedure }}
      Billed: ${{ inputs.billed_amount }}
      Insurance: {{ inputs.insurance_company }}
      
      === GENERATED APPEAL LETTER ===
      {{ outputs.ai_generate_appeal.textOutput }}
      
      ========================================
      PRIZE REQUIREMENTS DEMONSTRATED:
      - Kestra built-in AI Agent summarizing data from other systems
      - AI Agent making decisions based on summarized data
      - Human-in-the-loop approval workflow
      - Multi-source data integration (CPT codes, Medicare rates)
      ========================================

outputs:
  - id: appeal_letter
    type: STRING
    value: "{{ outputs.ai_generate_appeal.textOutput }}"