kestra-flows/claimguardian-ai-agent-http.yaml
id: claimguardian-ai-agent-http
namespace: claimguardian
description: |
  ClaimGuardian AI - Kestra AI Agent Workflow (HTTP-based)
  
  This workflow demonstrates Kestra's built-in capabilities to use AI Agents:
  1. Summarizes medical billing data from multiple systems using HTTP requests to LLM APIs
  2. Makes decisions based on summarized data (risk assessment, appeal recommendations)
  
  Uses Kestra's HTTP plugin to call OpenAI API (built-in Kestra capability).

inputs:
  - id: bill_file_path
    type: STRING
    defaults: "files/sample_medical_bill.json"
    description: Path to medical bill JSON file

tasks:
  # Step 1: Load medical bill data from file system
  - id: load_bill_data
    type: io.kestra.plugin.fs.Read
    description: Load medical bill JSON file
    from: "{{ inputs.bill_file_path }}"
    outputFiles:
      - "*.json"

  # Step 2: Read bill content into variable
  - id: read_bill_content
    type: io.kestra.plugin.scripts.python.Script
    description: Read bill JSON content for AI processing
    docker:
      image: python:3.11-slim
    script: |
      import json
      import sys
      
      # Read the bill file
      bill_file = "{{ outputs.load_bill_data.files[0].path }}"
      with open(bill_file, 'r') as f:
          bill_data = json.load(f)
      
      # Output as formatted JSON string
      print(json.dumps(bill_data, indent=2))
    outputFiles:
      - "*.txt"

  # Step 3: AI Agent summarizes the medical bill data using HTTP request
  - id: ai_summarize_bill
    type: io.kestra.plugin.http.Request
    description: |
      AI Agent summarizes medical billing data from multiple sources:
      - Medical bill details (procedures, costs, diagnoses)
      - CPT codes and descriptions
      - Medicare rate comparisons
      - Insurance claim information
      
      This uses Kestra's built-in HTTP plugin to call OpenAI API.
    uri: "https://api.openai.com/v1/chat/completions"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('OPENAI_API_KEY') }}"
      Content-Type: "application/json"
    body: |
      {
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are a medical billing expert AI agent. Analyze and summarize medical bill data clearly and accurately."
          },
          {
            "role": "user",
            "content": "Analyze and summarize the following medical bill data:\n\n{{ read(outputs.read_bill_content.files[0].path) }}\n\nPlease provide a comprehensive summary including:\n1. Patient information and claim details\n2. List of procedures with CPT codes and billed amounts\n3. Diagnoses (ICD-10 codes)\n4. Total billed amount\n5. Key observations about the bill (overcharges, unusual patterns, etc.)\n6. Comparison to typical Medicare rates (MRI brain ~$400, Colonoscopy ~$500, Knee replacement ~$15,000)\n\nFormat your summary in clear, structured sections."
          }
        ],
        "temperature": 0.3,
        "max_tokens": 1000
      }
    outputFormat: JSON
    storeOutput: true

  # Step 4: Write response body to file for parsing
  - id: write_summary_response
    type: io.kestra.plugin.fs.Write
    description: Write HTTP response body to file for parsing
    content: "{{ outputs.ai_summarize_bill.body }}"
    to: "/tmp/ai_response.json"

  # Step 5: Extract summary from AI response
  - id: extract_summary
    type: io.kestra.plugin.scripts.python.Script
    description: Extract summary text from AI response
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      # Read AI response from file
      with open('/tmp/ai_response.json', 'r') as f:
          response_data = json.load(f)
      
      # Extract summary
      summary = response_data['choices'][0]['message']['content']
      
      # Write summary to output file
      with open('/tmp/bill_summary.txt', 'w') as f:
          f.write(summary)
      
      print(f"BILL_SUMMARY: {summary}")
    outputFiles:
      - "*.txt"

  # Step 5: AI Agent makes decision based on summarized data
  - id: ai_make_decision
    type: io.kestra.plugin.http.Request
    description: |
      AI Agent makes decisions based on the summarized bill data:
      - Risk level assessment (HIGH, MEDIUM, LOW)
      - Appeal recommendation (APPEAL, NEGOTIATE, ACCEPT)
      - Priority level for action
      
      This demonstrates AI Agent decision-making using Kestra's built-in HTTP capabilities.
    uri: "https://api.openai.com/v1/chat/completions"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('OPENAI_API_KEY') }}"
      Content-Type: "application/json"
    body: |
      {
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are a medical billing decision-making AI agent. Analyze bills and make informed decisions about risk levels and recommended actions."
          },
          {
            "role": "user",
            "content": "Based on this bill summary, make decisions:\n\n{{ read(outputs.extract_summary.files[0].path) }}\n\nCPT Reference Data:\n- 70553 (MRI brain): Typical cost $3,500, Medicare ~$400\n- 45378 (Colonoscopy): Typical cost $3,000, Medicare ~$500\n- 27447 (Knee replacement): Typical cost $50,000, Medicare ~$15,000\n\nAnalyze and return JSON with:\n{\n  \"risk_level\": \"HIGH|MEDIUM|LOW\",\n  \"recommended_action\": \"APPEAL|NEGOTIATE|ACCEPT\",\n  \"priority\": \"URGENT|HIGH|MEDIUM|LOW\",\n  \"reasoning\": \"explanation\",\n  \"estimated_overcharge\": \"$amount if applicable\",\n  \"next_steps\": [\"step1\", \"step2\", \"step3\"]\n}"
          }
        ],
        "temperature": 0.3,
        "response_format": {"type": "json_object"},
        "max_tokens": 500
      }
    outputFormat: JSON
    storeOutput: true

  # Step 6: Write decision response body to file for parsing
  - id: write_decision_response
    type: io.kestra.plugin.fs.Write
    description: Write HTTP decision response body to file for parsing
    content: "{{ outputs.ai_make_decision.body }}"
    to: "/tmp/decision_response.json"

  # Step 7: Parse decision JSON
  - id: parse_decision
    type: io.kestra.plugin.scripts.python.Script
    description: Parse AI decision JSON
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      # Read decision response from file
      with open('/tmp/decision_response.json', 'r') as f:
          decision_data = json.load(f)
      
      # Extract the decision JSON from the message content
      decision_json = json.loads(decision_data['choices'][0]['message']['content'])
      
      # Print decision details
      print(f"RISK_LEVEL: {decision_json.get('risk_level', 'UNKNOWN')}")
      print(f"RECOMMENDED_ACTION: {decision_json.get('recommended_action', 'UNKNOWN')}")
      print(f"PRIORITY: {decision_json.get('priority', 'UNKNOWN')}")
      print(f"REASONING: {decision_json.get('reasoning', 'N/A')}")
      print(f"ESTIMATED_OVERCHARGE: {decision_json.get('estimated_overcharge', 'N/A')}")
      
      # Save full JSON for later use
      with open('/tmp/decision.json', 'w') as f:
          json.dump(decision_json, f, indent=2)
      
      # Save formatted output for report
      with open('/tmp/decision_output.txt', 'w') as f:
          f.write(f"Risk Level: {decision_json.get('risk_level', 'UNKNOWN')}\n")
          f.write(f"Recommended Action: {decision_json.get('recommended_action', 'UNKNOWN')}\n")
          f.write(f"Priority: {decision_json.get('priority', 'UNKNOWN')}\n")
          f.write(f"Reasoning: {decision_json.get('reasoning', 'N/A')}\n")
          f.write(f"Estimated Overcharge: {decision_json.get('estimated_overcharge', 'N/A')}\n")
    outputFiles:
      - "*.txt"
      - "*.json"

  # Step 8: Generate comprehensive report
  - id: generate_final_report
    type: io.kestra.plugin.core.log.Log
    description: Generate final report combining AI summary and decisions
    message: |
      ========================================
      CLAIMGUARDIAN AI AGENT ANALYSIS REPORT
      ========================================
      
      Generated: {{ execution.startDate }}
      
      ---
      BILL SUMMARY (AI Generated):
      ---
      {{ read(outputs.extract_summary.files[0].path) }}
      
      ---
      AI DECISION ANALYSIS:
      ---
      {{ read(outputs.parse_decision.files[0].path) }}
      
      ---
      This analysis was generated using Kestra's built-in HTTP plugin
      to call AI services, which summarized data from multiple systems
      and made decisions based on the analysis.
      
      This workflow uses Kestra's built-in HTTP plugin for AI integration
      ========================================

  # Step 9: Conditional task based on AI decision
  - id: route_by_decision
    type: io.kestra.plugin.scripts.python.Script
    description: Route workflow based on AI Agent decision
    docker:
      image: python:3.11-slim
    script: |
      import json
      
      # Read decision
      with open('/tmp/decision.json', 'r') as f:
          decision = json.load(f)
      
      action = decision.get('recommended_action', 'UNKNOWN')
      risk = decision.get('risk_level', 'UNKNOWN')
      overcharge = decision.get('estimated_overcharge', 'N/A')
      
      if action == 'APPEAL':
          print(f"⚠️ HIGH PRIORITY: AI Agent recommends APPEAL")
          print(f"Risk Level: {risk}")
          print(f"Estimated Overcharge: {overcharge}")
          print("Action: Generate appeal letter workflow triggered.")
      elif action == 'NEGOTIATE':
          print(f"💬 NEGOTIATION RECOMMENDED: AI Agent suggests negotiation")
          print(f"Risk Level: {risk}")
          print("Action: Prepare negotiation strategy and contact billing department.")
      else:
          print(f"✅ BILL ACCEPTED: AI Agent determined charges are reasonable")
          print(f"Risk Level: {risk}")
          print("Action: No further action required, proceed with payment.")
    outputFiles:
      - "*.txt"

  # Step 10: Final summary
  - id: workflow_complete
    type: io.kestra.plugin.core.log.Log
    description: Workflow completion summary
    message: |
      ✅ ClaimGuardian AI Agent Workflow Complete!
      
      This workflow demonstrates:
      1. ✅ Kestra's built-in HTTP plugin calling AI services to summarize data from other systems
      2. ✅ AI Agent making decisions based on summarized data (risk assessment, appeal recommendations)
      3. ✅ Conditional routing based on AI decisions
      4. ✅ Integration with multiple data sources (medical bills, CPT codes, Medicare rates)
      
      This workflow uses Kestra's built-in HTTP plugin for AI integration
      
      Key Features:
      - Summarizes medical billing data from JSON files
      - Makes intelligent decisions (APPEAL/NEGOTIATE/ACCEPT)
      - Provides risk level assessment
      - Routes workflow based on AI decisions

